<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="https://stc-zaloprofile.zdn.vn/favicon.ico" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <meta name="description" content="CellphoneS tặng deal không cần cớ, chỉ cần “follow” cơ">
  <meta property="og:title" content="CELLPHONES trên Zalo" />
  <meta property="og:description" content="CellphoneS tặng deal không cần cớ, chỉ cần “follow” cơ" />
  <meta property="og:image" content="https://qr.zalo.me/sl/2/5cb3bbfd38b0d3ee8aa1" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet" />
  <title>Support</title>
  <script defer="defer" src="https://stc-zaloprofile.zdn.vn/profile/static/js/main.1.0.1.js"></script>
  <link href="https://stc-zaloprofile.zdn.vn/profile/static/css/main.1.0.1.css" rel="stylesheet" />
</head>

<body>
  <div id="root">
    <script>
      window.pageInfo = { "type": 1, "name": "CELLPHONES", "avatar": "https://s120-ava-talk.zadn.vn/a/3/0/7/15/120/3a9e3fbbe0e73c0a10d45914b2e370de.jpg", "thumbnail": "https://qr.zalo.me/sl/2/5cb3bbfd38b0d3ee8aa1", "description": "CellphoneS tặng deal không cần cớ, chỉ cần “follow” cơ", "qrCodeUrl": "https://page-photo-qr.zdn.vn/1661173291/35cad9d4c3912acf7380.jpg", "oa": { "cateName": "Công nghệ \u0026 Thiết bị", "cateNameEn": "Electronics", "tier": 1, "type": 2, "isVerified": true, } };
    </script>
  </div>
</body>

</html>